@import url("https://fonts.googleapis.com/css2?family=Itim&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  /* font-family: "Itim", cursive;
  background-color: #eef0f4; */
  user-select: none;
}

.main-head {
  width: 90vw;
  max-width: 450px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  justify-content: space-between;
}

#heading-1{
  padding-top: 3px;
}

.head-1 {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-right: 25px;
  padding-left: 10px;
  border-radius: 5px 25px 25px 5px;
  background-color: darkblue;
  color: white;
  width: 80%;
}

.head-2 {
  padding-left: 25px;
}

.head-2 p {
  font-size: 11px;
}

.head-2 h6 {
  background-color: white;
  border-radius: 5px;
  color: red;
  width: 75px;
}

.timer {
  font-size: 15px;
  background: darkblue;
  align-content: center;
  margin: 0px;
  color: white;
  border-radius: 25px;
  width: 50px;
  text-align: center;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 450px;
  height: 90vw;
  max-height: 450px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid gray;
}

.semi-board {
  display: flex;
  flex-wrap: wrap;
  width: 33.33%;
  height: 33.33%;
  border: 1px solid gray;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  width: 33.33%;
  height: 33.33%;
  border: 1px solid gray;
  align-content: center;
  justify-content: center;
  font-size: 22px;
}

.digits {
  margin: 0px auto;
  width: 80vw;
  max-width: 400px;
  align-content: center;
  justify-content: center;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.btn-css {
  margin: 5px 0px;
  width: 43px;
  height: 43px;
  display: flex;
  border-radius: 5px;
  background-color: midnightblue;
  color: white;
  flex-wrap: wrap;
  font-size: 25px;
  align-content: center;
  justify-content: center;
}

.btn-css:hover {
  background-color: black;
}

.btn-backspace svg {
  width: 30px;
}

.btn-clear-all {
  background-color: brown;
  width: 120px;
}

.btn-validate {
  background-color: darkgreen;
  width: 120px;
}

.container2 {
  padding: 5px;
  margin: auto;
  width: 90vw;
  max-width: 450px;
  border-radius: 5px;
  background-color: Gainsboro;
}

.fixed {
  background-color: Gainsboro;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: unset; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  max-width: 300px;
  border-radius: 10px;
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content:hover {
  size: 0.5;
  transition: width 2s;
}

.modal-buttons {
  display: inline-block;
}
